@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f9ff;
  position: relative;
  color: #334155;
}

.flex-column {
  flex-direction: column;
}
/* button */

button {
  display: inline-block;
}
.btn {
  text-decoration: none;
  margin: 10px 0;
  text-decoration: none;
  display: inline-block;
  padding: 8px 24px;
  font-weight: 500;
  border-radius: 8px;
  font-size: 16px;
}

.btn-light-outline {
  color: #1e293b;
  border: #0081c9 1px solid;
}
.btn-light-outline:hover {
  background-color: #1e293b;
  color: #fff;
  border: #fff 1px solid;
}

.btn-primary {
  color: #fff;
  background-color: #0081c9;
}

.btn-purple {
  color: #fff;
  background-color: #896df6;
}
.btn-purple:hover {
  color: #fff;
  background-color: #7856ff;
}

.btn-primary:hover {
  background-color: #0075b4;
  color: #fff;
}

.text-center {
  text-align: center;
}

.px-12 {
  padding: 0 120px;
}
.px-8 {
  padding: 0 80px;
}
.px-6 {
  padding: 0 60px;
}
.px-7 {
  padding: 0 70px;
}

.my-3 {
  margin: 30px 0;
}
.mt-2 {
  margin-top: 20px;
}

.mx-7 {
  margin: 0 70px;
}
.ml-2 {
  margin-left: 20px;
}

.container {
  width: 90%;
  margin: 0px auto;
  padding: 20px;
}

button {
  border: none;
  cursor: pointer;
}

.form-group {
  margin: 10px 0;
}

.form-group label {
  font-weight: 500;
}
.nav-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 99;
}

nav img {
  width: 30px;
  margin: 0 15px;
}

.nav-brand {
  font-weight: 700;
  font-size: 20px;
}

.nav-top ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.nav-top ul li {
  margin: 0 10px;
}

.nav-top ul li .nav-link {
  text-decoration: none;
  color: #334155;
}
.nav-top ul li .nav-btn {
  text-decoration: none;
  color: #fff;
}
.nav-top ul li .nav-link:hover {
  color: #896df6;
}

.hero {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color: #334155;
  min-height: 450px;
  width: 100%;
  background: radial-gradient(
    97.36% 918.47% at 2.64% 108.86%,
    rgba(205, 151, 206, 0.229) 0%,
    rgba(255, 255, 255, 0) 19.58%,
    rgba(169, 213, 255, 0.253) 45.62%,
    rgba(255, 255, 255, 0.202892) 79.48%,
    rgba(169, 213, 255, 0.245) 100%
  );
}

.hero-container {
  width: 100%;
  min-height: 450px;
}
.d-flex {
  display: flex;
  align-items: center;
}

.justify-content-space-around {
  justify-content: space-around;
}
.justify-content-space-between {
  justify-content: space-between;
}
.justify-content-space-evenly {
  justify-content: space-evenly;
}
.justify-content-center {
  justify-content: center;
}
.hero-text p {
  margin: 10px 0;
}
.hero-text p {
  color: #475569;
}
.hero-text span {
  color: #1e293b;
}

.hero-image {
  width: 500px;
}

.hero-image img {
  width: 100%;
}

.about {
  padding: 110px 59px;
}
.about .description {
  padding: 0 120px;
}

.about h2 {
  color: #334155;
}
.about p {
  margin: 16px 0;
  color: #475569;
}

.about p span {
  font-weight: 600;
  color: #1e293b;
}

.track-container {
  width: 664px;
  height: 178px;
  background-color: #fff;
  border-radius: 24px;
  margin: 73px auto;
  box-shadow: 2px 2px 20px #acacac30;
  position: relative;
}

.track-container span {
  display: block;
  font-weight: 700;
  font-size: 24px;
}

.track-container .btn {
  position: absolute;
  right: 50px;
  bottom: -30px;
  padding: 8px 50px;
  border-radius: 25px;
}

.track-container .divider {
  height: 50%;
  width: 5px;
  background-color: #334155;
}

.feature {
  color: #475569;
  padding: 110px 59px;
  background-color: #fff;
}

.feature h2 {
  color: #334155;
}
.feature h4 {
  color: #334155;
}

.feature p {
  margin: 16px 0;
}

.article p {
  margin: 16px 0;
}

.card-image {
  width: 400px;
  height: 200px;
}
.card-image img {
  width: 100%;
}

.feature .card-content {
  margin: 0 10px;
}

.article {
  padding: 110px 59px;
  color: #475569;
}

.article a {
  text-decoration: none;
  color: #1e293b;
}

.article h2 {
  color: #334155;
}

.contact {
  padding: 110px 59px;
  background-color: #fff;
  color: #475569;
}

.contact p {
  margin: 16px 0;
}

footer {
  padding: 70px 0;
  background-size: cover;
  background-repeat: no-repeat;
  color: #334155;
  width: 100%;
  background: radial-gradient(
    97.36% 918.47% at 2.64% 108.86%,
    rgba(205, 151, 206, 0.229) 0%,
    rgba(255, 255, 255, 0) 19.58%,
    rgba(169, 213, 255, 0.253) 45.62%,
    rgba(255, 255, 255, 0.202892) 79.48%,
    rgba(169, 213, 255, 0.245) 100%
  );
}

footer a {
  text-decoration: none;
  font-weight: 500;
  color: #d9534f;
}
footer .d-flex {
  align-items: flex-start;
}
footer .social-media {
  align-items: center;
}
footer .d-flex .footer-content {
  margin: 0 20px;
}

footer li {
  list-style: none;
  line-height: 30px;
}

footer hr {
  border-bottom: #1e293b solid 2px;
  margin: 30px 70px;
}

footer img {
  display: inline-block;
}

input {
  border: 1px solid #1e293b;
  font-size: 16px;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
}

input[type="checkbox"] {
  width: auto;
  margin-right: 10px;
}

textarea {
  width: 100%;
  font-size: 16px;
  padding: 10px;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
}

.notif {
  margin: 20px 120px;
  padding: 10px;
  border-radius: 8px;
  color: #fff;
}

.notif-danger {
  background-color: #d9534f;
}

.notif-success {
  background-color: #5cb85c;
}

.card-articles {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.105);
  background-color: #fff;
  padding: 10px;
  min-height: 150px;
  border: #0075b4 solid 2px;
  border-radius: 8px;
  margin: 15px 0;
}
.card-articles:hover {
  border: #7856ff solid 2px;
}

.card-articles img {
  height: auto;
}

.card-description {
  margin: 0 10px;
}

.footer-tagline {
  display: none;
  text-align: center;
  padding: 0 10px;
  margin: 0px 0 30px 0;
}

.footer-tagline h4 {
  font-size: 24px;
}

.formMessage {
  padding: 0px 120px;
}

.nav-bottom {
  display: none;
  /* border-top: #475569 solid 1px; */
  background-color: #fff;
  box-shadow: 2px -10px 10px #acacac30;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 20px;
  z-index: 99;
}
.nav-bottom li {
  list-style: none;
}
@media screen and (max-width: 1024px) {
  .hero-container {
    display: flex;
    flex-direction: column;
    padding: 120px 0;
  }

  .hero .btn {
    width: 100%;
    text-align: center;
  }
  .feature .container > .d-flex {
    display: flex;
    flex-direction: column;
  }
  .feature .btn {
    width: 100%;
    text-align: center;
  }
  .feature img {
    width: 300px;
  }
  .tagline {
    display: none;
  }
  .footer-tagline {
    display: block;
  }
  .formMessage {
    padding: 0 60px;
  }
  .nav-link {
    display: none;
  }
  .diver {
    display: none;
  }
  .nav-bottom {
    display: block;
  }
  .about .description {
    padding: 0;
  }
  .notif {
    margin: 20px 60px;
  }
}
